name: Taccession configurations
    
filesDirectory: /data/user/publications/allpubmed/
statsOutputFolder: stats/stats-accession
dataOutputFolder: /data/user/results/result-accession

sparkPartitions: 200

patterns: 
-   patternName: swisslipid
    pattern: (?i)SLM:\d+

-   patternName: nextprot 
    pattern: NX_[OPQ][0-9][A-Z0-9]{3}[0-9]|NX_[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2}

-   patternName: nextprot-with-uniprot 
    pattern: \b[OPQ][0-9][A-Z0-9]{3}[0-9]|\b[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2}
    mustFindRegexInFile: nextprot

-   patternName: cellosaurus 
    pattern: (?:\b|^)(?i)CVCL_\w+

-   patternName: cellosaurus-white-spaces 
    pattern: (?:\b|^)(?i)RRID\W\s?CVCL[\W]\w+
    
-   patternName: rhea
    pattern: RHEA:\d{5}
    
-   patternName: orthodb
    pattern: "[EPV]OG[0-9A-Z]+"
    mustFindRegexInFile: (?i)orthodb
    excludeTokens: POGO
    
-   patternName: prosite
    pattern: PDOC\d{5}|PS\d{5}
    mustFindRegexInFile: prosite

-   patternName: enzyme
    pattern: (EC )?[1-6]\.[1-9-][0-9]?\.[1-9-][0-9]?\.n?[1-9-][0-9]{0,2}
    
-   patternName: HAMAP
    pattern: MF_\d{5}
    mustFindRegexInFile: hamap